<h1>Sign Up</h1>

<%= form_tag users_path, :id=>@user do %>
  <%= label_tag(:name,"Enter name")%><br>
  <%= text_field_tag(:name) %><br>


  <%= label_tag(:name,"Enter email")%><br>
  <%= email_field_tag(:email) %><br>

  <%= label_tag(:name,"Enter Password")%><br>
  <%= password_field_tag(:password) %><br>


  <%= submit_tag("Sign Up") %>
<% end %>