<h1>Login</h1>
<%= form_tag login_path do %>

  <%= label_tag(:email,"Enter email")%><br>
  <%= email_field_tag(:email) %><br>

  <%= label_tag(:name,"Enter Password")%><br>
  <%= password_field_tag(:password) %><br>


  <%= submit_tag("Log In") %>
<% end %>
<h6>New User <a href="/signup">click Here</a> </h6>