<h1>SignUp</h1>
<%= form_tag("/signup", method: "post") do %>
  <%= label_tag(:name,"Enter name")%><br>
  <%= text_field_tag(:name) %><br>

  <%= label_tag(:name,"Enter Password")%><br>
  <%= password_field_tag(:password) %><br>

  <%= label_tag(:name,"Enter email")%><br>
  <%= email_field_tag(:email) %><br>

  <%= submit_tag("Sign Up") %>
<% end %>